@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Support App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="text-center mt-5">
    <h1 class="display-4">Support App</h1>
    <h3>Please log in or create an account</h3>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm">
                <a class="btn btn-success" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </div>
            <div class="col-sm">
                <a class="btn btn-success" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </div>
        </div>
    </div>
</div>
